*{
    margin: 0;
    box-sizing: border-box;
}
/* div{
    border: 1px solid black;
} */
.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}
.header-serach{
    height: 25px;
}
.header-right{
    display: flex;
    flex-direction: right;
    justify-content: end;
}
.header-serach form {
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-serach input {
    width: 500px;
    padding: 10px;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}
.header-serach button {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
    width: 50px;
}
/* input{
    width: 500px;
    height: 30px;
    justify-content: center;
    margin: auto;
} */
.material-icons{
    color: rgb(96 96 96);
}
.main{
    display: flex;
    height: 100vh;
    width: 100%;
}
.icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.videos
{
    width: 350px;
    height: 300px;
    margin: 15px;
    
}
.sidebar{
    height: 100%;
    width: 730px;
    background-color: white;
    overflow-y: scroll;
    margin: 10px 20px;
    padding: 10px;

}
.sidebar-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px 25px
}

.main-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-video{
    background-color: #f9f9f9;
    /* width: 100%; */
    height: 100%;
    overflow-y: scroll;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
}
span{
    text-align: center;
    
}